name: Semantic Versioning

on:
  push:
    branches:
      - main
      - develop

jobs:
  semantic-versioning:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Semantic Versioning
        id: semver
        uses: paulhatch/semantic-version@v5.3.0
        with:
          branch_prefixes: '{"main":"", "develop":"pre"}'
          tag_prefix: "v"
          major_pattern: "(MAJOR)"
          major_regexp_flags: ""
          minor_pattern: "(MINOR)"
          minor_regexp_flags: ""
          version_format: "${major}.${minor}.${patch}-release-${increment}"
          change_path: "src/my-service"
          namespace: my-service
          bump_each_commit: true
          bump_each_commit_patch_pattern: ""
          search_commit_body: false
          user_format_type: "csv"
          enable_prerelease_mode: true
          debug: false
          version_from_branch: false

      - name: Create and Push Tag
        id: create_tag
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          TIMESTAMP=$(date +'%Y%m%d%H%M%S')
          TAG_NAME="${{ steps.semver.outputs.version }}-${TIMESTAMP}"
          echo "::set-output name=tag_name::$TAG_NAME"
          git tag -a $TAG_NAME -m "Generated tag from GitHub Actions"
          git push origin $TAG_NAME
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.create_tag.outputs.tag_name }}
          release_name: Release ${{ steps.create_tag.outputs.tag_name }}
          draft: false
          prerelease: false
          body: "Neue Version ${{ steps.create_tag.outputs.tag_name }}"